**/node_modules
**/.next
**/dist
**/build
**/coverage
**/.turbo
**/.cache
**/.vscode
**/.idea
**/.git
**/.gitignore
**/.DS_Store
**/Thumbs.db
**/*.log
**/.env
**/.env.*
!**/.env.example
apps/api/uploads
apps/api/test-email.js
apps/web/tsconfig.tsbuildinfo
